body {
    background-color: black;
}

h1 {
    text-align: center;
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

nav, a {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

p {
    text-align: center;
}

#subtitle {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

#description {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}