body {
    background-color: black;
}

h1 {
    text-align: center;
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

nav, a {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
}

p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#subtitle {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

#description {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

#icon {
    margin-top: 0.3cm;
}

#foot {
    font-family: Verdana;
    font-weight: bold;
    color: gray;
    text-align: right;
    font-size: 25px;
}
